:root {
    /* Font Family*/
    --ff-logo: 'Red Hat Display', sans-serif;
    --ff-body: 'Roboto', sans-serif;

    /* Font weight */
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900 ;

    /* Colors */
    --clr-pr: #0070DC;
    --clr-snd: #FFC223;
    --clr-ter: #E0251C;

    /* Neutral Colors */
    --clr-white: #fff;
    --clr-gray: #F0F0F0;
    --clr-black: #000;
    --clr-dis-text: #756a6a;

    /* Border Radius */
    --br-12: 0.75rem;
    --br-17: 1.063rem;
    --br-50: 50%;

    /* Font Size */
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-48: 3rem;

}